<?xml version="1.0"?>
<launch>
  <!-- Launch Gazebo with world3 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find omniv)/map/world3"/>
  </include>
  
  <!-- Spawn simple robot -->
  <param name="robot_description" textfile="$(find omniv)/launch/fancy_robot.urdf" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model fancy_robot -param robot_description -x 0 -y 0 -z 0" />
  
  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  
  <!-- Static transforms -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_link" args="0 0 0 0 0 0 odom base_link"/>
  
  <!-- Robot controller -->
  <node pkg="omniv" type="robot_controller.py" name="robot_controller" output="screen"/>
  
  
  <!-- Your mapping node -->
  <node pkg="omniv" type="mapping_node.py" name="mapping_node" output="screen"/>
  
  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz"/>
</launch>