<?xml version="1.0"?>
<launch>
    <arg name="robot_name"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <group ns="$(arg robot_name)">
        <param name="robot_description" command="$(find xacro)/xacro '$(find limo_description)/urdf/limo_four_diff.xacro' robot_namespace:=$(arg robot_name)"/>
        
        <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" 
              args="-x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw) -urdf -param robot_description -model $(arg robot_name)" 
              output="screen"/>

        <rosparam file="$(find limo_gazebo_sim)/config/limo_four_diff_control.yaml" command="load" subst_value="true"/>
        
        <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
              args="limo_state_controller"/>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
            <param name="tf_prefix" value="$(arg robot_name)"/>
        </node>
    </group>
</launch>
